@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.m-head {
    font-family: "Roboto";
    font-size: 30px;
}

.leaf-button {
    color: white;
    background-color: #007854;
    height: 65px;
    width: 65px;
    border-width: 0px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 15px;
    font-weight:lighter;
}

.button-1 {
    background-color: #ffd0b5;
    color: #841003;
    height: 25px;
    border-width: 2px;
    border-style: dashed;
    border-color: #841003;
}

.button-2 {
    background-color: #fab8d9;
    color: #5c0b33;
    height: 35px;
    border-width: 3px;
    border-style: dotted;
    border-color: #841003;
    border-radius: 5px;
}

.button-3 {
    background-color: white;
    color: #5c0b33;
    height: 55px;
    width: 55px;
    border-width: 3px;
    border-style: solid;
    border-color: #0c6b58;
    border-radius: 40px;
    padding: 10px;
}